spring:
  redis:
    host: localhost
    port: 6379
  datasource:
    url: jdbc:mysql://localhost:3306/book_management?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  output:
    ansi:
      enabled: ALWAYS

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true
    out-of-order: true

  application:
    name: book-management-system
    security:
      jwt:
        secretKey: ${JWT_SECRET}
        EXPIRATION_TIME: ${EXPIRATION_TIME}

server:
  port: 8080

logging:
  level:
    root: INFO


management:
  endpoints:
    web:
      exposure:
        # Exposes health, info, and the Prometheus metrics endpoint
        include: 'health,info,prometheus,metrics'
  endpoint:
    health:
      # CRITICAL: Ensures details about components (DB, Disk) are visible
      show-details: always


# can view all actuator endpoints but not good according to security
#management:
#  endpoints:
#    web:
#      exposure:
#        include: '*'